%margin-bottom {
  margin-bottom: $default-unit-value;
}

.main {
  @include fix-content-position;

  @include base-colors;
  @include theme-colors;
}

.container {
  display: flex;
  flex-direction: column;

  @include fix-content-position($default-unit-value);

  /* Larger than tablet */
  @media (min-width: $screen-tablet){
    margin: auto;
    max-width: $desktop-use-max-width;
  }

  &__header {
    flex: none;
    padding: 0.5rem 2rem;
    
    @extend %margin-bottom;

    @include base-border;
    @include theme-border;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: auto;

    &__content {
      flex: auto;
      padding: $default-unit-value;

      @extend %margin-bottom;

      background-color: lighten($base-background-color, 5%);
      @include base-border();

      @include theme-content-colors;
    }
  
    &__footer {
      flex: none;
    }
  }
}