.chatroom {

  &__input {
    width: 100%;
    display: flex;
    flex-direction: row;

    &__field {
      flex: auto;
      margin-right: 0.5rem;

      display: flex;

      input[type="text"] {
        flex: auto;
      }
    }

    &__submit {
      flex: none;
    }
  }

  &__btn {
    padding: 0.5rem 1rem;
  }
}