*.log

# dependencies directory
node_modules/

# distribuction directory
dist/

# environment variables
.env
.env.local
.env.development
.env.production

#-----------
# Windows

**/.db

#-----------
# Mac OS X

**/.DS_Store

# Thumbnails
**/._*

# Files that might appear on external disk
**/.Spotlight-V100
**/.Trashes
