@import 'styles/global-variables';

/*
CSS Selectors Reference | w3schools
https://www.w3schools.com/cssref/css_selectors.asp

[attribute] | CSS-Tricks
https://css-tricks.com/almanac/selectors/a/attribute/
*/

.chat {

  h1 {
    text-decoration: underline;
    color: $custom-color;
  }
}