.form-control {
  padding: 0.5rem 1rem;

  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: $body-line-height;

  @include remove-outline;

  @include base-border;

  @include theme-form-control-colors;
}