// global variables

// Understanding and Using rem Units in CSS — SitePoint
// https://www.sitepoint.com/understanding-and-using-rem-units-in-css/

$html-font-size: 62.5%;

// the effective font-size used on the application
$body-font-size: 1.5rem;

//---

$body-background-color: rgb(223, 223, 223);
$body-color: rgb(39, 39, 39);

//---

// $custom-color: #792c2c;
$custom-color: #0735cc;