// global styles

html {
  font-size: $html-font-size;
  font-family: Arial, sans-serif;
}

body {
  margin: 5rem;
  font-size: $body-font-size;
  background-color: $body-background-color;
  color: $body-color;
}