/*

  useful links

  how to style input radio | checkbox
  https://www.hongkiat.com/blog/css3-checkbox-radio/
  
*/

.form {

  // &-group {}

  &-control {
    padding: 0.5rem 1rem;
  
    font-family: $body-font-family;
    font-size: $body-font-size;
  
    @include remove-outline;
  
    @include base-border;
  
    @include theme-form-control-colors;
  }

  // &-group {}

  &-check-group {
    display: flex;
  }

  &-check {
    display: relative;

    &-input {
      display: none;

      &:checked + label {
        font-weight: bold;

        &:before {
          content: "\2022";
          
          color: $base-color; 

          top: 0.4rem;

          text-align: center;  

          font-weight: bold;
          font-size: 2.5rem;
        }
      }
    }

    &-label {

      &:before {
        content: " ";
        display: inline-block;
        
        width: 1.3rem;
        height: 1.3rem;
        line-height: 1.3rem;
        
        position: relative;

        top: 0.3rem;
        margin-right: 0.5rem;

        border-radius: 0.8rem;

        border: 0.1rem solid $base-border-color;
        background-color: $base-background-color;
      }
    }

    @include theme-check-colors;
    
    &:not(:last-child){
      margin-right: 2rem;
    }
  }
}