.form {

  &-group {}

  &-control {
    padding: 0.5rem 1rem;
  
    font-family: $body-font-family;
    font-size: $body-font-size;
  
    @include remove-outline;
  
    @include base-border;
  
    @include theme-form-control-colors;
  }

  &-radio {
    display: inline-block;
    
    &:not(:last-child){
      margin-right: 1rem;
    }
  }
}