.navbar {

  a {
    color: $base-color;
    text-decoration: none;
  
    &:first-child {
      margin-right: $default-unit-value;
    }
  
    &.active {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  @include theme-navbar-colors;
}
