.navbar {

  & > a {
    color: #222222;
    text-decoration: none;
  
    &:first-child {
      margin-right: $default-unit-value;
    }
  
    &.active {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
